@CHARSET "UTF-8";
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

*:not(.rating-widget *){
	font-family: 'S-CoreDream-4Regular' !important; 
}


/* 상단바 */
.fk-navbar {
	background-color: #f8f8f8;
	padding-left:20px;
	padding-right:20px;
}

.fk-navbar li a {
	color: #706243 !important;
	font-weight: bold;
	font-size: 15px !important;
}

/* logo */
.logo { 
	height: 65px;
}

/* 관리자 왼쪽 메뉴 */
.fk-left-slidebar {
	width:217px;
	top: 80px;
    position: fixed;
    height: calc(100vh);
    background: #443c2a;
    z-index:100;
}

.fk-left-slidebar ul {
	margin:0;
    padding: 0;
    list-style: none;
}

.fk-left-slidebar ul li {
	line-height: 55px;
}

.fk-left-slidebar ul li:hover{
	background-color:#565041;
}

.fk-left-slidebar ul li a {
	color:#ffffff;
	font-weight:bold;
	margin-left: 20px;
}

/* 관리자 오른쪽 영역 */
#main-admin {
	margin-left:237px;
	margin-right:20px;
	position:relative;
}

.fk-heading {
    display: block;
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #1e1e1e;
}

.fk-desc {
	font-size:20px;
    line-height: 26px;
    float:left;
}

.fk-float-right {
	float:right;
	margin-top:15px;
}

.fk-btn {
	cursor : pointer;
	font-weight: bold;
    background-color: transparent;
    color: #505050;
    border: 1px solid #c7c7c7;
    padding: 0 10px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
}

.fk-btn:hover {
	background-color: #ffd767bf;
}

